#mycanvas {
  margin-left: 200px;
  margin-top: 75px;
  border: solid 2px black;
}

main.board {


}

img.background-sky {
  width: 50%;
  z-index: 5;
  position: absolute;
  left: 510px;
  bottom: 180px;
}

img.ground {
  width: 50%;
  z-index: 10;
  position: absolute;
  left: 510px;
  bottom: 180px;
}
