#mycanvas {
  margin-left: 130px;
  margin-top: 20px;
  border: solid 2px black;
  position: relative;
}

main.board {

}

.background {
  width: 100%;

}


img.ground {
  z-index: -1;
  position: absolute;
  left: 0px;
  width: 100%;
  /*top: 0px;*/
  background-color: #009dff;
}
