#mycanvas {
  margin-left: 130px;
  margin-top: 25px;
  border: solid 2px black;
  position: relative;
}

main.board {

}

.background {
  width: 100%;

}

.title {
  width: 250px;
  position: relative;
  bottom: 350px;
  left: 450px;
}

img.ground {
  z-index: -1;
  position: absolute;
  left: 0px;
  width: 100%;
  /*top: 0px;*/
  background-color: #009dff;
}
